.App {
    text-align: center;
}
button {
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    margin: 20px;
    border: 0;
}
h1 {
    font-size: 30px;
}
form {
    font-size: 20px;
}
input {
    font-size: 18px;
    margin: 15px;
    padding: 10px;
}
label {
    display: block;
}
.todo {
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
}
.todo__body {
    border: 1px solid black;
    padding: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.post__title {
    font-weight: bold;
}
